.lineaire-simple {
  background: linear-gradient(red, purple);
  width: 100%;
  height: 100vh; 
  overflow: auto;
}

.centrer {
  display: block;
  position: relative;
  left: 1.5%; /*pour ajuster la position*/
  text-align: left;
  width: 97%; /*pour ajuster la largeur*/
  transform-origin: 0 0;
}

@media (max-width: 768px) {
  .centrer {
    width: 90%; /* Ajustement de la largeur pour les écrans*/
  }
}

@media (max-width: 480px) {
  .centrer {
    width: 80%; /* Ajustement de la largeur pour les écrans*/
  }
}

h1 {
  color: white;
}

p {
  color: white;
  margin-left: 15px; 
}

li {
  color: white;
  margin-left: 15px; 
  font-style: italic;
}

h2 {
  font-style: italic;
  color: white;
  margin-left: 15px;
  text-align: left;
}

.image-align-left {
  float: left; /* Contour de l'image */
  margin-right: 30px;
}

.image-align-right {
  float: right; /* Contour de l'image */
}

strong {
  color: black;
}


.additional-fields {
  color: white;	
  display: none;
  position: relative ;
  left:1400px;  
  bottom: 30px;
  margin-right: 20px;
}/*lien hypertexte bouton onglet*/


.additional-fields th {
  margin-bottom: 10px;
  margin-left: 490x;
  bottom: 400px;
}
.toggle-icon {
  cursor: pointer;
  margin-left: 2250px;
  color: white;
}
.dynamic-content {
  display: none;
}




/*barre de recherche*/
ul.list li {
    color: black; /* Définissez ici la couleur du texte */
	font-family: sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
/*font-family: sans-serif;*/
}
form {
  width: 75vmin;
  height: 100%;
  position: absolute;
  transform: translate(-35%, -50%);
  top: 50%;
  left: 50%;
  padding: 40px 0;
}

input[id="input"] {
  width: 60%;
  padding: 15px 10px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  border-radius: 5px 5px 0 0;
  background-color: skyblue;
  font-size: 16px;
}

ul {
  list-style: none;
  color: black;
}

.list {
  width: 499px;
  background-color: white;
  border-radius: 0 0 5px 5px;
}
.list-items {
  padding: 10px 5px;
}
.list-items:hover {
  background-color: skyblue;  
}/*barre de recherche*/
