@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
  @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.ft14 {
font-size: 44px !important;
  color: white;
  position: relative;
  right: 640px;
  top: 145px;

} /*bouton instagram*/

.imagedefond6 { 
  
  background-image: url("https://media2.giphy.com/media/epUV77yzjomZR6GdWa/giphy.gif?cid=ecf05e47sppfy2hvk0co05mvmojima5fkmwm96ycuk1o4cqo&ep=v1_gifs_search&rid=giphy.gif&ct=g");
  background-repeat: no-repeat;
  font-family: arial;
  font-size: 25px;
  margin: 150px;
  width: 700px;
  height: 800px;
  position: relative;
}/*gif de nos réseaux*/


.imagedefond1 { 
  
  background-image: url("https://media4.giphy.com/media/3o6fIS1YVhsYXUAnf2/giphy.gif?cid=ecf05e47kp2bwqokntew4pqck21t42d8edpq5grd90mjzhqm&ep=v1_gifs_related&rid=giphy.gif&ct=g");
  background-repeat: no-repeat;
  font-family: arial;
  font-size: 24px;
  margin: 100px;
  width: 700px;
  height: 400px;
  position: relative;  
}/*gif de connexion*/

fieldset {
  width: 550px;
  height: 599px;
  background-color: orange; 
} /*encadrement formulaire*/

.img2 {
top: 0px;
left: 0px;
right: 0px;
width: 10px;
height: 0px;  
}

.imagedefond2 { 
  background-image: url("https://media0.giphy.com/media/14b13BDH3V81wc/giphy.webp?cid=ecf05e47uei6oucj2jzyfz62nthpxmflwzgak5eplhu53y0o&ep=v1_gifs_search&rid=giphy.webp&ct=g");
  background-repeat: no-repeat;
  font-family: arial;
  font-size: 25px;
  margin: 100px;
  width: 600px;
  height: 450px;
  position: relative;
}

.child1 {
  width: 900px; 
  height: 300px; 
  position: absolute;
  top: 8%;
  left: 100%;
}/*centrer le formulaire accueil*/

.child2 {
  width: 585px; 
  height: 10px; 
  position: absolute;
  top: 25%;
  left: 100%;
}/*centrer barre de recherche*/

.child3 {
  width: 950px; 
  height: 500px; 
  position: absolute;
  top: 5%;
  left: 100%;
}/*formulaire créer compte*/

.child4 {
  width: 850px;
  height: 100%; 
  position: absolute;
  top: 5%;
  left: 100%;
}/*formulaire  compte*/

.imagedefond3 { 
  
  background-image: url("https://media.giphy.com/media/cPifFlpBQJVKNGY19p/giphy.gif");
  background-repeat: no-repeat;
 font-family: arial;
  font-size: 25px;
  margin: 100px;
  width: 600px;
  height: 400px;
  position: relative;
}/*gif créer un compte*/

.imagedefond4 { 
  
  background-image: url("https://media1.giphy.com/media/bcrOR2stk6tKIxqPOZ/giphy.gif?cid=ecf05e47oc4i1z7s0phvpvkfpfpk3qa8ixvea46wjq02y43m&ep=v1_gifs_search&rid=giphy.gif&ct=g");
  background-repeat: no-repeat;
  font-family: arial;
  font-size: 25px;
  margin: 100px;
  width: 730px;
  height: 1000px;
  position: relative;
}/*gif de mon compte*/

.lineaire-simple {
  background: linear-gradient(red, purple);
  width: 100%;
  height: 100vh; 
  overflow: auto;
} /*dégradé arrière-plan*/

@media (max-width: 768px) {
  /* Styles à appliquer pour les écrans*/
}

@media (max-width: 480px) {
  /* Styles à appliquer pour les écrans*/
}


div {
  width: 1550px;
  height: 50px;
}


.imagedefond5 { 
  
  background-image: url("https://media4.giphy.com/media/xT0BKpqAaJczduXXJ6/giphy.gif?cid=ecf05e47cjlfzhqzj2y8uf37nr739qoyzo8m6y5hce44tmwg&ep=v1_gifs_search&rid=giphy.gif&ct=g");
  background-repeat: no-repeat;
  font-family: arial;
  font-size: 25px;
  margin-left: 900px;
  top: 200px;
  width: 700px;
  height: 500px;
  position: relative;
}/*gif de bienvenue*/

 a { 
  color: white; 
  position: relative ;
  left:880px;  
  bottom: 125px;
  margin-right: 20px;
 } /*lien hypertexte acceuil*/

h1 {
  color: white;
  right: 500px;
}

.centrerBoutonReseaux{
  margin-left: 100px;
  top: 40px; 
  position: relative;
}/*instagram*/

.imagedefond7 { 
  
  background-image: url("https://media.tenor.com/9qZhM0uswAYAAAAd/bully-maguire-dance.gif");
  background-repeat: no-repeat;
  font-family: arial;
  font-size: 25px;
  margin: 100px;
  width: 500px;
  height: 500px;
  position: relative;
}/*gif du sommaire*/


.alert-danger {
  max-width: 550px;
}/*alerte identifiants incorrectes*/


.alert-success {
  max-width: 550px;
  /*margin-left: 550px;*/
}/*alerte identifiants correctes*/


.additional-fields {
  color: white;	
  display: none;
  position: relative ;
  left:-380px;  
  bottom: 30px;
  margin-right: 10px;
}/*lien hypertexte bouton onglet*/


.additional-fields th {
  margin-bottom: 10px;
  margin-left: 490x;
  bottom: 400px;
}
.toggle-icon {
  cursor: pointer;
  margin-left: 1600px;
  color: white;
}
.dynamic-content {
  display: none;
}




/*barre de recherche*/
ul.list li {
    color: black; /* Définissez ici la couleur du texte */
	font-family: sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
/*font-family: sans-serif;*/
}
form {
  width: 75vmin;
  height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 40px 0;
}

input[id="input"] {
  width: 32%;
  padding: 15px 10px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  border-radius: 5px 5px 0 0;
  background-color: skyblue;
  font-size: 16px;
}

ul {
  list-style: none;
  color: black;
}

.list {
  width: 496px;
  background-color: white;
  border-radius: 0 0 5px 5px;
}
.list-items {
  padding: 10px 5px;
}
.list-items:hover {
  background-color: skyblue;  
}/*barre de recherche*/



.alert {
    position: fixed;
    right: 5px; /* Ajustez cette valeur pour changer la position horizontale */
    width: 300px; /* Largeur de l'alerte */
    padding: 15px;

}





































/*
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
form {
  width: 75vmin;
  height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 40px 0;
}
input[id="input"] {
  width: 40%;
  padding: 15px 10px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  border-radius: 5px 5px 0 0;
  background-color: skyblue;
  font-size: 16px;
}
ul {
  list-style: none;
}
.list {
  width: 620px;
  background-color: white;
  border-radius: 0 0 5px 5px;
}
.list-items {
  padding: 10px 5px;
}
.list-items:hover {
  background-color: skyblue;  
}/*barre de recherche*/



/*/*bouton onglet*/
/*
.additional-fields {
  display: none;
}
.additional-fields li {
  margin-bottom: 10px;
  margin-left: 490px;
  bottom: 400px; 
}
*/
/*
.toggle-icon {
  cursor: pointer;
  margin-left: 1300px;
  color: white;
}
*/
/*
.dynamic-content {
  display: none;
}
*/
